body {
  background-color: #202020;
}

.image-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: #f9f9f9;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 4px;
}

.caption {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}